.contact {
  height: 100%;
  max-width: 900px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 30px;

  .textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;

    h1 {
      font-size: 80px;
      line-height: 65px;
    }

    span {
      font-weight: 200;
    }
  }

  .formContainer {
    flex: 1;

    form {
      display: flex;
      flex-direction: column;
      gap: 10px;

      input,
      textarea {
        padding: 10px;
        background-color: transparent;
        border: 1px solid white;
        color: white;
        border-radius: 5px;
      }

      button {
        padding: 10px;
        border: none;
        background-color: orange;
        cursor: pointer;
        font-weight: 500;
      }
    }
  }

  // Mobile responsiveness
  @media (max-width: 768px) {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;

    .textContainer {
      width: 290px;
      padding-top: 100px;
      // max-height: 50vh;
      max-height: 35vh;
      h1 {
        font-size: 40px;
        color: yellow;
        line-height: 30px;
        width: 250px;
      }
      span {
        font-size: 20px;
        display: flex;
      }
    }

    .formContainer {
      width: 290px;

      form {
        input,
        textarea {
          padding: 8px;
        }

        button {
          padding: 8px;
        }
      }
    }
  }

  @media (max-width: 480px) {
    .textContainer {
      h1 {
        font-size: 36px;
        line-height: 40px;
      }
    }

    .formContainer {
      form {
        input,
        textarea {
          padding: 6px;
        }

        button {
          padding: 6px;
          font-size: 14px;
        }
      }
    }
  }
}
